.btn {
  color: inherit;
  background-color: transparent;

  &--submit {
    width: 100%;
    min-height: 80px;
    border: 1px solid currentColor;
    border-radius: var(--tooltip-radius);
    font-family: 'Montserrat';
    font-size: var(--fs-submit-btn);
    font-weight: 700;
    line-height: 1.2;
  }

  &--modal {
    padding-block: 1em;
    padding-inline: 2.5em;
    border: var(--btn-modal-border) solid currentColor;
    border-radius: var(--btn-modal-radius);
    font-size: var(--fs-submit-modal);
    line-height: 1.35;
    text-transform: uppercase;
    background-color: var(--bg-modal-btn);
  }
}

@media only screen and (min-width: 900px) {
  .btn {
    cursor: pointer;

    &--submit {
      transition: box-shadow var(--delay);

      &:hover,
      &:focus {
        box-shadow: var(--shadow-btn);
      }
    }

    &--modal {
      transition: background-color var(--delay);

      &:hover,
      &:focus {
        background-color: var(--bg-modal);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .btn {

    &--submit {
      display: block;
      max-width: 400px;
      margin-inline: auto;
    }

    &--modal {
      padding-inline: 4em;
    }
  }
}