@use '../abstracts/mixins';

.download {
  text-align: center;

  &__heading {
    display: block;
    font-family: 'Montserrat';
    font-size: var(--fs-h2);
    font-weight: 700;
    text-transform: uppercase;
    margin-block-end: 1.42em;

    &--centered {
      margin-block-end: 2em;
      font-family: 'NotoSans';
      font-weight: 700;
      letter-spacing: 0.03em;
    }
  }

  &__options {
    @include mixins.reset_list;
    @include mixins.flex;
    flex-direction: column;
    gap: 1.5em;
  }

  &__option {
    display: block;
    min-width: 185px;
    padding-block: .75em;
    border: 1px solid currentColor;
    border-radius: var(--btn-radius);
  }

  &__image {
    margin-inline: auto;
  }
}

@media only screen and (min-width: 600px) {
  .download {

    &__heading {
      &--aligned {
        text-align: left;
      }
    }

    &__options {
      flex-direction: row;

      &--centered {
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .download {

    &__heading {
      margin-block-end: .75em;
    }

    &__options {

      &--headless {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__option {
      transition: box-shadow var(--delay);
      
      &:hover,
      &:focus {
        box-shadow: var(--shadow-btn);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .download {

    &--row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline-end: 3.5em;
    }

    &__heading {
      &--aligned {
        margin-block-end: 0;
      }

      &--centered {
        margin-block-end: 1.5em;
        font-size: var(--fs-submit-btn);
      }
    }

    &__options {

      &--headless {
        flex-direction: row;
      }

      &--centered {
        gap: 3.25em;
      }
    }

    &__option {
      min-width: auto;
      padding-inline: .65em;
      padding-block: .5em;

      &--ios {
        min-width: 260px;
        padding-block: .75em;
      }

      &--android {
        min-width: 292px;
        padding-block: .68em;
      }
    }

    &__image {

      &--ios {
        min-width: 215px;
        min-height: 50px;
      }

      &--android {
        min-width: 250px;
        min-height: 55px;
      }
    }
  }
}