.link {

  &--offset {
    display: block;
    padding-block-end: 0.55em;
    text-underline-offset: 8px;
  }

  &--no-offset {
    text-underline-offset: 2px;
  }

  &--no-decor {
    text-underline-offset: 4px;
    text-decoration: none;
  }
}