.link {

  &--no-offset {
    text-underline-offset: 2px;
  }

  &--no-decor {
    text-underline-offset: 4px;
    text-decoration-color: transparent;
  }
}

@media only screen and (min-width: 900px) {
  .link {

    &--no-offset {
      transition: text-decoration-color var(--delay);
      
      &:hover,
      &:focus {
        text-decoration-color: transparent;
      }
    }

    &--no-decor {
      transition: text-decoration-color var(--delay);

      &:hover,
      &:focus {
        text-decoration-color: currentColor;
      }
    }
  }
}