@use '../abstracts/mixins';

.logo {
  @include mixins.flex;
  gap: .25em;

  &__image {
    max-width: 52px;
    max-height: 52px;
  }

  &__desc {
    max-width: 46px;
    max-height: 12px;
  }
}

@media only screen and (min-width: 900px) {
  .logo {

    &__image {
      max-width: 107px;
      max-height: 109px;
    }
  
    &__desc {
      max-width: 96px;
      max-height: 26px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    gap: unset;
    
    &__image {
      transform: translateX(-14px);
    }

    &__desc {
      transform: translate(-8px, 4px);
    }
  }
}