@use '../abstracts/mixins';

.modal {
  padding-inline: .9375em;
  padding-block: 1.375em;
  background-color: var(--bg-modal);

  &__container {
    @include mixins.flex;

    gap: 4em;
  }

  &__disclaimer {
    margin: 0;
    font-size: var(--fs-xs);
    line-height: 1.33;
  }
}

@media only screen and (min-width: 600px) {
  .modal {
    padding-inline: 2.5em;
    padding-block: 1.5em;

    &__container {  
      gap: 12em;
    }
  }
}

@media only screen and (min-width: 900px) {
  .modal {

    &__container {  
      justify-content: space-between;
      gap: unset;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .modal {
    padding-block: 1.225em;
    padding-inline: 1.335em;

    &__container {
      max-width: 1316px;
      margin-inline-start: auto;
    }
  }
}