.banner {
  position: relative;
  padding-block-start: 5.75em;
  margin-block-end: 4.375em;
  text-align: left;
  background-image: url('../assets/images/bg/banner-bg-left.svg'),
                    url('../assets/images/bg/banner-bg-right.svg');
  background-repeat: no-repeat, no-repeat;
  background-position-x: 0, 0;
  background-position-y: 0, center;
  background-size: cover, 50%;

  &__container {
    min-height: 445px;
    padding-block-start: 6.25em;
    padding-block-end: 3.5em;
  }

  &__intro {
    max-width: 70%;
  }

  &__heading {
    font-family: 'Montserrat';
    font-size: var(--fs-h1);
    font-weight: 700;
    line-height: 1.14;
  }

  &__subheading {
    margin-block-start: 1.5em;
    margin-block-end: 0;
    line-height: 1.4;
  }

  &__line-break {
    display: none;
  }

  &__image {
    position: absolute;
    top: 5.3em;
    right: 0;
  }
}

@media only screen and (min-width: 600px) {
  .banner {
    min-height: 900px;
    padding-block-end: 4.375em;
    margin-block-end: 0;
    background-position-y: -450px, center;
    overflow: hidden;

    &__container {
      padding-block-end: 7em;
    }

    &__intro {
      max-width: 65%;
    }

    &__image {
      top: -25px;
      right: -300px;
    }
  }
}

@media only screen and (min-width: 900px) {
  .banner {
    background-position-y: -1000px, center;
    background-position-x: 100%, 0;
    background-size: cover, 30%;

    &__container {
      padding-block-end: 3.5em;
    }

    &__intro {
      max-width: 50%;
    }

    &__image {
      top: 70px;
      right: 40px;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 340px;
        height: 670px;
        background-color: var(--clr-content);
        opacity: .2;
        filter: blur(80px);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .banner {
    padding-block-end: 9.8em;
    background-image: url('../assets/images/bg/banner-bg-left-desktop.svg'),
                    url('../assets/images/bg/banner-bg-right-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-position-x: 100%, 5%;
    background-position-y: 0, center;
    background-size: auto, auto;

    &__container {
      padding-block-start: 9.5em;
      padding-block-end: 15em;
    }

    &__intro {
      max-width: 60%;
    }

    &__subheading {
      padding-inline-start: 5.25em;
      padding-inline-end: 12em;
      margin-block-start: 6em;
      font-size: var(--fs-banner-subheading);

      &::before {
        content: '';
        display: block;
        width: 140px;
        height: 4px;
        background-color: var(--clr-content);
        transform: rotate(120.61deg) translate(88px, 105px);
      }
    }

    &__line-break {
      display: block;
    }

    &__image {
      top: 150px;
      right: 140px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .banner {
    background-position-x: 100%, 15%;

    &__image {
      right: 420px;
    }
  }
}