.feedback {
  padding-block-start: 6em;
  background-image: url('../assets/images/bg/feedback-bg-top.svg'),
                    url('../assets/images/bg/feedback-bg-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 0 118%;
  background-size: 60%, 100%;

  &__line-break {
    display: none;
  }

  &__desc {
    padding-inline: .75em;
  }

  &__form {
    margin-block-start: 3.125em;
    margin-block-end: 4.625em;
  }
}

@media only screen and (min-width: 600px) {
  .feedback {
    background-size: 50%, 70%;
    background-position-x: 0, right;
    background-position-y: 0, 118%;
  }
}

@media only screen and (min-width: 900px) {
  .feedback {
    background-image: url('../assets/images/bg/feedback-bg-top-desktop.svg'),
                      url('../assets/images/bg/feedback-bg-bottom.svg');
    background-size: 40%, auto;
    background-position-x: 20%, right;
    background-position-y: 0, 118%;

    &__desc {
      padding-inline: 0;
    }

    &__line-break {
      display: block;
    }

    &__form {
      max-width: 818px;
      margin-inline: auto;
    }
  }
}