.guide {

  &__item {
    padding-block: 2.5em;
    padding-inline: 2em;
    border: 2px solid var(--clr-article-border);
    border-radius: var(--article-radius);

    &:last-child {
      margin-block-start: 1.875em;
    }
  }

  &__issue {
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 1.35;
    margin-block-end: 1.25em;
  }

  &__solution {
    font-size: var(--fs-md);
  }
}

@media only screen and (min-width: 600px) {
  .guide {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;

    &__item {
  
      &:last-child {
        display: grid;
        align-content: center;
        margin-block-start: 0;
      }
    }
  }
}