.integration {
  position: relative;
  min-height: 418px;
  margin-block-end: 2em;

  &__images {
    position: absolute;
    left: 0;
    min-width: 100%;
    margin-block-start: 1.875em;
  }

  &__image {
    min-width: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .integration {
    min-height: 836px;
  }
}

@media only screen and (min-width: 900px) {
  .integration {
    min-height: auto;
    padding-block-start: 9em;
    padding-block-end: 9em;
    margin-block-end: 0;
    background-image: url('../assets/images/bg/integration-bg.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 0;
    background-position-y: -70px;

    &__container {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr auto;
      gap: 1.5em;
    }

    &__intro {
      align-self: center;
    }

    &__images {
      position: static;
      margin-block-start: 0;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .integration {
    padding-block-start: 11.5em;
    background-size: auto;
    background-position-y: 0;

    &__container {
      grid-template-columns: 496px 704px;
    }

    &__intro {
      align-self: start;
      margin-block-start: 5em;
    }

    &__title {
      margin-block-end: .7em;
    }

    &__desc {
      padding-inline-end: 4.5em;
    }
  }
}