.integration {
  position: relative;
  min-height: 418px;
  margin-block-end: 2em;

  &__images {
    position: absolute;
    left: 0;
    min-width: 100%;
    margin-block-start: 1.875em;
  }

  &__image {
    min-width: inherit;
  }
}