.mission {
  padding-block-start: 6.875em;
  margin-block-end: 12em;
  background-image: url('../assets/images/bg/mission-bg.svg');
  background-repeat: no-repeat;
  background-size: 40%;

  &__container {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  &__desc {
    padding-inline-end: 3.1em;
  }

  &__image {
    position: relative;
    margin-block-start: 10.1875em;

    &::before {
      content: '';
      min-width: 180px;
      min-height: 350px;
      z-index: -1;
      position: absolute;
      top: 0;
      background-color: #FFFFFF;
      opacity: .2;
      filter: blur(38.1517px);
    }
  }
}