.mission {
  padding-block-start: 6.875em;
  margin-block-end: 11.3em;
  background-image: url('../assets/images/bg/mission-bg.svg');
  background-repeat: no-repeat;
  background-size: 40%;

  &__container {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  &__desc {
    padding-inline-end: 3.1em;
  }

  &__image {
    position: relative;
    margin-block-start: 10.1875em;

    &::before {
      content: '';
      min-width: 180px;
      min-height: 350px;
      z-index: -1;
      position: absolute;
      top: 0;
      background-color: var(--clr-content);
      opacity: .2;
      filter: blur(38.1517px);
    }
  }
}

@media only screen and (min-width: 600px) {
  .mission {
    margin-block-end: 5.65em;

    &__image {
      position: static;
      margin-block-start: 5em;
  
      &::before {
        content: none;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .mission {
    background-image: none;

    &__container {
      min-height: 520px;
    }

    &__intro {
      max-width: 36%;
      margin-inline-start: auto;
    }

    &__desc {
      padding-inline-end: 0;
    }

    &__image {
      position: absolute;
      left: -460px;
      margin-block-start: 0;
  
      &::before {
        content: '';
        min-width: 1000px;
        min-height: 520px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .mission {
    padding-block-start: 7.75em;
    margin-block-end: 20em;
    background-image: url('../assets/images/bg/mission-bg-desktop.svg');
    background-position-x: 82%;
    background-position-y: 40%;
    background-size: auto;

    &__intro {
      max-width: 34%;
    }

    &__desc {
      padding-inline-end: 5.5em;
    }

    &__image {
      left: -175px;
      transform: translateY(102px);
    }
  }
}