.qr {
  padding-block-start: 14.25em;
  margin-block-end: 8em;
  background-image: url('../assets/images/bg/qr-bg-top.png'),
                    url('../assets/images/bg/qr-bg-bottom.png');
  background-repeat: no-repeat, no-repeat;
  background-position-x: 0, right;
  background-position-y: 0, 35.25%;
  background-size: contain, 91%;
  
  &__desc {
    padding-inline-end: 2.2em;
    margin-block-end: 3.125em;
  }

  &__images {
    margin-block-start: 15em;
  }

  &__image {
    max-width: 282px;
    max-height: 564px;
    margin-inline: auto;

    &--right {
      margin-block-start: 3.125em;
    }
  }
}

@media only screen and (min-width: 600px) {
  .qr {
    padding-block-start: 20em;
    background-position-y: 0, 55%;
    background-size: contain, 65%;

    &__images {
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      gap: 1.5em;
      min-height: 650px;
    }

    &__image {
  
      &--right {
        align-self: end;
        margin-block-start: 0;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .qr {
    padding-block-start: 14.125em;
    margin-block-end: 0;
    background-image: url('../assets/images/bg/qr-bg-desktop.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: contain;

    &__container {
      display: grid;
      grid-auto-flow: column;
    }

    &__intro {
      align-self: end;
    }

    &__images {
      min-height: auto;
      margin-block-start: 0;
    }

    &__image {
  
      &--right {
        transform: translateY(166px);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .qr {
    padding-block-start: 15.5em;

    &__intro {
      max-width: 70%;
      margin-block-end: 1.8em;
      margin-inline-start: auto;
      margin-inline-end: 3.3em;
    }

    &__images {
      gap: 4.75em;
      transform: translateX(50px);
    }

    &__image {
      max-width: 334px;
      max-height: 668px;

      &--right {
        transform: translateY(340px);
      }
    }
  }
}