.scanner {
  padding-block-start: 14em;
  margin-block-end: 9em;
  background-image: url('../assets/images/bg/scanner-bg.png');
  background-repeat: no-repeat;
  background-size: contain;

  &__images {
    margin-block-start: 4.375em;
  }

  &__image {
    max-width: 287px;
    max-height: 576px;
    margin-inline: auto;

    &--right {
      margin-block-start: 3.4375em;
    }
  }
}

@media only screen and (min-width: 600px) {
  .scanner {

    &__images {
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      gap: 1.5em;
    }

    &__image {
  
      &--right {
        margin-block-start: 0;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .scanner {
    margin-block-end: 0;
    background-image: url('../assets/images/bg/scanner-bg-desktop.png');

    &__container {
      display: grid;
      grid-auto-flow: column;
      gap: 2em;
    }

    &__intro {
      align-self: end;
    }

    &__images {
      order: -1;
      margin-block-start: 0;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .scanner {
    padding-block-start: 26.25em;
    background-size: cover;

    &__container {
      gap: 7em;
    }
    
    &__intro {
      max-width: 80%;
      margin-block-end: 3.8em;
    }

    &__image {
      max-width: 334px;
      max-height: 668px;
    }

    &__images {
      gap: 2.7em;
    }
  }
}