html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-block: 5em;
  font: 1rem Arial, sans-serif;
  background-color: grey;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2 {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.slideshow {
  &__wrapper {
    position: relative;
    width: 70%;
    min-height: 500px;
    overflow: hidden;
  }
  &__gallery {
    min-height: 500px;
    .gallery__item {
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 500px;
      border: 2px solid #fff;
      border-radius: 5px;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      background-color: grey;
      &.active {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }
      h2 {
        padding-top: 120px;
        padding-left: 500px;
        font-size: 200px;
      }
    }
  }
  &__control {
    width: 40px;
    height: 40px;
    padding-left: 4px;
    border: 2px solid #fff;
    font-size: 0;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(10px, -10px);
    transition: all 300ms;
    &.prev-slide {
      transform: rotate(180deg) translate(10px, 10px);
    }
    &.next-slide {
      left: unset;
      right: -5%;
    }
    &:hover {
      background-color: #fff;
      path {
        fill: grey;  
      }
    }
  }
  &__indicators {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 0;
    li + li {
      margin-left: 10px;
    }
    .indicator {
      width: 15px;
      height: 15px;
      border: 2px solid #fff;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
      &.active {
        background-color: #fff;
        cursor: not-allowed;
      }
    }
  }
}