html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'NotoSans', sans-serif;
  font-size: var(--fs-content);
  font-weight: 400;
  color: var(--clr-content);
  background-color: var(--bg-body);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

abbr[title] {
  text-decoration: none;
}

button,
input {
  padding: 0;
  border: 0;
  font: inherit;
}

figure,
dl, dd {
  margin: 0;
}